body{
  overflow-x:hidden;
}
ul {
  list-style: inside !important;
}
ul.timeline {
  list-style: outside none none !important;
}
.planning-header {
  background: #dfdfdf;
  padding: 20px 0;
}
.grid {
  background: #ededed;
  padding: 20px 0;
}
.grid h2 {
  font-size: 22px;
}
.grid p {
  font-size: 14px;
}
.planning-con {
  border: 2px solid #dfdfdf;
}
.lecturer {
  font-size: 18px;
}
.grey-bg {
  background: #f4f4f4;
  padding-top: 25px;
  padding-bottom: 25px;
}
.white-bg {
  background: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}
.intro {
  border-top: 1px solid #c0c0c0;
  line-height: 38px;
}
.intro h1 {
  margin-top: 0px;
}
.block {
  display: block;
}
.mirza {
	font-family: "Mirza",cursive;
}
.small-icon {
	font-size: 18px !important;
}
.right-text {
  text-align: right;
}
.m-auto {
  margin: 0px auto;
}
.m-b {
  margin-bottom: 50px;
}
.m-t {
  margin-top: 50px !important;
}
.f18 {
  font-size: 18px;
}
.grey-color {
  color: #355368;
}
.grey-dark {
  color: #1e2c35;
}
.yellow {
  color: #ffa500;
}
.border-grey {
  border: 2px solid #c0c0c0;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.custom-table {
  margin: 0 auto;
  width: 600px;
  background: #fff;
}
.bg-white {
  background: #fff;
  padding: 20px;
}
.grid h2{
  color: #ffa500;
}
.grid > .col-sm-6, .grid > .col-sm-12{
  margin-bottom: 50px;
}
.filming img{
  float: right;
  margin-bottom: 40px;
  margin-left: 40px;
}


.underline {
    text-decoration: underline;
}

.step {
    margin-top: 27px;
}


.width100 {
    width: 100%;
}
.mirza {
    font-family: "Mirza",cursive;
}
.yellow {
  color: #ffa500;
} 
.underline {
    text-decoration: underline;
}
    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #F58723;
    }

/*a {
    font-size: 25px;
      padding: 20px;
  }
*/
.panel-body {
    font-size: 20px;
  text-align:left;
}
.absolute {
  left: 0;
  position: absolute;
  right: 0;
  top: 120px;
}
.absolute h1 {
  font-size: 60px;
}


/***********
* rotateIn *
************/

@-webkit-keyframes rotateIn { 
    0% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(-200deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotateIn { 
    0% { 
        transform-origin: center center; 
        transform: rotate(-200deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: center center; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 
.rotateIn.go { 
    -webkit-animation-name: rotateIn; 
    animation-name: rotateIn; 
}

@media (max-width: 991px) {
.intro-img {
  width: 350px;
}
h1.yellow {
  font-size: 26px;
}
.absolute h1 {
  font-size: 40px;
}
.absolute {
  top: 50px;
}
}


@media (max-width: 767px) {
.m-m-b {
  margin-bottom: 25px;
}
}


@media (max-width:480px) {
.absolute {
  top: 20px;
}
.browse{
	font-size:0px;
	padding:5px;
}
.fc{
	font-size:15px;
}
}



body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	
 	font-family: 'Oxygen', sans-serif;
}

.main{
 	margin-top: 70px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center {
    background-color: #589b41;
    color: #fff;
      margin: 73px auto;
    max-width: 436px;
    padding: 40px;
}
.lh
{
	   line-height: 1.029;
	    margin-bottom: 26px;
}
.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
.mylabel {
    text-align: center;
}
.text{
	text-align:center!important;
}
/* tab css */
div.bhoechie-tab-container{
  z-index: 10;
  
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  
  margin-top: 20px;
 
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
/*div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  
}*/
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
   min-height: 1173px;
    background: #87ccd6 none repeat scroll 0 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #fff;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
 background: #f8a227 none repeat scroll 0 0;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #F8A52D;
  
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.left-menu-section #profile-img-show {
  background: #ffffff none repeat scroll 0 0;
  display: block;
  text-align: center;
}
.biography-section #mceu_3 ,.biography-section  #mceu_12-body{
  display: none;
}
.Biography_wrapper > h2,.profile-link-section > h2 {
  color: #333;
  font-size: 22px;
  padding: 3px 0 18px;
  text-transform: capitalize;
}
.profile-link-section .input-group {
  margin: 0 0 15px;
}
.profile-save-button {
  text-align: center;
}
.left-menu-section {
  background: #8acdd7 none repeat scroll 0 0;
  height: 100%;
}
/*new css*/
.mypanel {

 padding:10px;
 color: #000;

 font-size: 27px;
 font-weight: bold;
}

.customfont
{
	  color: #fff;
    font-size: 27px;
    font-weight: bold;
}

.panel-body {
    background-color: #fff;
}

.mybtn
{
	background-image: linear-gradient(to bottom, #b1b1b1 5px, #1d1d1d 100%);
	color:#fff;
	font-weight:bold;
	font-size:20px;
}

.list-group-item {
     background-color: #57A8AE;
	 border: 1px solid #87ccd6;
}
a.list-group-item, button.list-group-item {
    color: #fff;
}
.mybootclass
{
	
   
    padding-left: 0;
    padding-right: 0px;
	
    
}
.coursehead {
   
    text-align: left;
}
@media (max-width: 767px) {
div.bhoechie-tab-menu div.list-group{
	min-height:auto;
    
  }
}
.form-header {
    border-bottom: 1px solid #bfbfbf;
    padding: 30px 45px;
    position: relative;
	text-align:left;
}

.add-form-wrapper .add-form-input-wrapper input {
    border: 1px solid #bfbfbf;
    color: #000000;
    padding: 11px 25px;
    width: 100%;
}

.add-btn {
    border-bottom-left-radius: 0;
    border-left: 0 none;
    border-top-left-radius: 0;
    padding: 11px 25px;
}
.pb30 {
    padding-bottom: 30px;
	text-align:left;
}
.labeled
{
	padding-bottom:38px;
}
.add-form-wrapper {
    -moz-box-align: center;
    align-items: stretch;
    display: flex;
}
.add-form-input-wrapper {
    position: relative;
    width: 100%;
}
.new-align{
	text-align:left;
}

.course-detail
{
	text-align:left;
	margin-left:300px;
	padding-top:40px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.flex-wrapper {
    -moz-box-align: center;
    align-items: flex-start;
    display: flex;
}
.test-video-uploader-wrapper {
    padding: 0 15px;
    position: relative;
}
.fx {
    -moz-box-flex: 1;
    flex: 1 1 0;
    min-width: 1px;
}

input-group[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
}

.input-group .form-control {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
	height:40px;
}
.ch-count-field {
    text-align:left;
}
.p30 {
    padding: 30px;
}
.p10{
  padding:10px;
}
.form-actions {
   
    margin: 0 -45px;
    padding: 20px 45px 0 0;
    text-align: right;
}
#test-video-form .form-actions {
    border-top: medium none;
    margin: 0;
    padding: 0;
}
.pb20 {
    padding-bottom: 20px;
}
.blockLabel {
    font-weight: 600;
    margin-top: 0;
}
label, .blockLabel {
    display: inline-block;
    font-weight: initial;
    margin-bottom: 5px;
    max-width: 100%;
     margin-left: 15px;
}
 .cfi-sortables-list{
    border: 0 none;
    margin: auto;
    padding: 0;
    position: relative;
    width: 100%;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.cfi-chapter-container {
    background-color: #f4f4f4;
    border: 3px solid #49A149;
    margin: 100px 0 20px;
}
/*.content.ui-state-default {
    background: #5cadb2 none repeat scroll 0 0;
    color: #fff;
}*/
.content {
    -moz-box-align: center;
    align-items: center;
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.55);
    color: #333;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    padding: 18px;
    position: relative;
}

.content.ui-state-default.add-chapter-btn {
    margin-top: 10px;
    padding-top: 30px;
}
.custominput{
	width:50%;
	text-align:center;
}
.custompannel
{
	width:75%;
}
.price-drop-down > select {
    padding: 10px;
	width:100px;
}
.section-btn{
	float:right;
}
.height100 {
    height: 55px;
}
.btn-color{
	background-color:#fff;
	border: 3px solid #5299A3;
}
.custom-btn{
	background:#5299A3;
	color:#fff;
}
.form-in
{
	 font-size: 0px;
    height: 0px;
}
.coursecoupons {
    margin-top: 6px;
}
}
.newpadding
{
	padding:20px;
}

.custom-height
{
	height: 48px;
}
.inheight
{
	 height: 42px;
}
textarea{ 
  width: 100%; 
  max-width:100%; 
}

.inputfile
{
	background-color: #f4f4f4;
    border: 3px solid #49A149;
	padding:15	px;
}

#imgInp {
    border: 3px solid #AEC729;
    border-radius: 5px;
}
.lecturepadding
{
	padding:5px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    border-color: #f8a52d;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background-color: #f8a52d;
    color: #fff;
    text-decoration: none;
}
/* .file { */
  /* visibility: hidden; */
  /* position: absolute; */
  
<<<<<<< HEAD
}
.hgt{
  height:40px;
}
=======
}
.hgt{
  height:40px;
}
>>>>>>> 82488f1746838294720c72bb09857f25976f1fc4
.text-direction1{
	direction:rtl;
}
.textdirection
{
	direction: ltr;
}
.panel-title.glyphicon.glyphicon-chevron-down {
    color: #fff;
	 margin: 5px;
}
.fa.fa-bars {
    margin: 5px;
}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}
.glyphicon {
    font-size: 20px;
}
.panel.panel-default.lecid.lecid1.login-button {
    margin-top: 20px;
}
.imgicon {
    margin: 10px;
}
.adding-button {
    margin-top: 10px;
}
.lecture-icons {
    background: #ececec none repeat scroll 0 0;
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.45) inset;
    display: inline-block;
    height: 60px;
    margin: 5px 15px 0;
    overflow: hidden;
    position: relative;
    width: 70px;
}

.inner.form-control {
  height: auto;
  text-align:left;
   cursor: all-scroll;
}
.btn-lg.btn-color.fa.fa-plus {
    width: 240px;
}
.sectionadd {
    /*background: rgb(87, 171, 176) none repeat scroll 0 0;
    
    color: #fff;*/
    border: 1px solid;
    margin-top: 10px;
}
.addcontentbtn{
	cursor:pointer;
}
.cancel-link ,.cancel-link2{
	cursor:pointer;
	
}
.lecedit {
    cursor: pointer;
}
.panel.panel-default.login-button {
  padding: 0 10px;
}
.document > input {
    margin: 15px;
}
.fa.fa-file-pdf-o {
    font-size: 25px;
}
.lecid2 .form-control {
    height: auto;
}

.ui-state-hover {
background:lightyellow;   
}
.ui-state-active {
background:lightgray   
}
.dragdrop {
    cursor: all-scroll;
     margin-top:10px;
     height: 30px;
}
.editable-unsaved {
    font-weight: lighter !important;
}

.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: medium none !important;
    text-decoration: none;
}
.curs {
    cursor: pointer;
}
.dragdrop.ui-draggable.ui-droppable .in > .fa {
    display: none !important;
}
.dragdrop.ui-draggable.ui-droppable:hover .in > .fa {
    display: inline-block !important;
}
.inner.form-control.coursecoupons .fa-pencil ,
.inner.form-control.coursecoupons .fa.fa-trash-o {
    display: none;
}
.inner.form-control.coursecoupons:hover .fa-pencil ,
.inner.form-control.coursecoupons:hover .fa.fa-trash-o {
    display: inline-block;
}
/* user profile css */

.my-courses-header {
    background-color: #38B1D5;
    
    color: #ffffff;
    height: 137px;
}
.pos-r {
    position: relative;
}
.my-courses-header .my-courses-heading {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-left: -1px;
    text-overflow: ellipsis;
    top: 50px;
    text-align:left;
  
    white-space: nowrap;
}
.my-courses .my-courses-header .tabs {
    border: 0 none;
    top: 59px;
}
.mt10 {
    margin-top: 70px;
}
.mr20{
  margin-right:20px;
}
.nav {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;

}
.plus {
    background: #ddd none repeat scroll 0 0;
    height: 250px;
       margin-top: 20px;
}
.dimg{
  width:100%;
  height:50%;
}
/* extra */
body {
  padding : 10px ;
  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
/* end user profile */

/* instruct page css start */
.instruct-head {
    background: #3399ff none repeat scroll 0 0;
    height: 120px;
    width: 100%;
}
.ml{
  margin-left:150px;
}
.nav {
    list-style: outside none none;
}
/* end instruct page */
/* profile page css */
.left-menu-section .nav-tabs {

    float: left;

    border-bottom: 0;

  }

   

 .left-menu-section .nav-tabs li {

    float: none;

    margin: 0;

  }

   

 .left-menu-section .nav-tabs li a {

  margin-right: 0;

    border: 0;
    color: #fff;

    background-color: #5CAAB0;
    
      padding: 8px;
       text-align: center;
         box-shadow: 1px 1px #ccc inset, 0 -1px #ccc inset;

  }
.left-menu-section .nav-tabs > li.active > a,.left-menu-section .nav-tabs > li.active > a:focus,.left-menu-section .nav-tabs > li.active > a:hover {
  
    background-color: #F8A52D;
    color: #FFF;
    
}
  .left-menu-section .nav > li > a:focus, .nav > li > a:hover {
    background-color: #f8a52d;
  }

  .left-menu-section .nav-tabs li a:hover {}

   

  .left-menu-section .nav-tabs .glyphicon { color: #fff; }

   

  .left-menu-section .nav-tabs .active .glyphicon { color: #333; }

   

  .left-menu-section .nav-tabs > li.active > a,

  .left-menu-section .nav-tabs > li.active > a:hover,

  .left-menu-section .nav-tabs > li.active > a:focus { border: 0; }
  .tab-content .tab-pane {

    display: none;

    background-color: #fff;

    padding: 1.6rem;

    
  }
  .tab-content .active { display: block; }
 .left-menu-section .nav.nav-tabs {
    border: 1px solid #ccc;
    padding:0px;
}
.left-menu-section .nav.nav-tabs {
    border: 1px solid #ccc;

       background: #8acdd7 none repeat scroll 0 0;
	   width:100%;
}
.container.textdirection {
    border: 1px solid #ccc;
     
}

.container.col-md-12.notification {
    border: 1px solid #ccc;
    padding: 89px;
    background: #D4EAF6;
    position: absolute;
}
.m-t .col-md-3.col-xs-12 {
  padding-left: 0;
}
.m-t .row{margin-bottom:0px;}
.input-group.col-md-12 {
    margin-bottom: 13px;
}
.personal-info h3 {
  padding-bottom: 17px;
  text-align: center;
}

<!---- HEAD -->
.image-section-wrapper {
  border: 1px solid #ccc;
  margin: auto;
  padding: 18px;
  width: 80%;
  box-shadow:0 2px 0 hsla(0, 0%, 100%, 0.63), 0 1px 2px rgba(0, 0, 0, 0.15) inset;
}
.image-profile {
  background: #eef4fd none repeat scroll 0 0;
  text-align: center;
  padding:10px;
}
.profile-text > p {
  color: #333333;
  font-size: 14px;
  margin: 0;
  padding: 10px 0 10px 10px;
}
.image-section-wrapper {
    border: 1px solid #ccc;
    padding: 20px;
}
/* profile page end */ 
/*!
 * bootstrap-fileinput v4.3.7
 * http://plugins.krajee.com/file-input
 *
 * Author: Kartik Visweswaran
 * Copyright: 2014 - 2017, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD 3-Clause
 * https://github.com/kartik-v/bootstrap-fileinput/blob/master/LICENSE.md
 */
.file-loading {
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    font-size: 999px;
    text-align: right;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}

.file-object {
    margin: 0 0 -5px 0;
    padding: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

.file-caption-name {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    word-break: break-all;
}

.input-group-lg .file-caption-name {
    height: 25px;
}

.file-zoom-dialog {
    text-align: left;
}

.file-error-message {
    color: #a94442;
    background-color: #f2dede;
    margin: 5px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    padding: 15px;
}

.file-error-message pre, .file-error-message ul {
    margin: 0;
    text-align: left;
}

.file-error-message pre {
    margin: 5px 0;
}

.file-caption-disabled {
    background-color: #EEEEEE;
    cursor: not-allowed;
    opacity: 1;
}

.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
	max-height:225px;
    width: 100%;
    margin-bottom: 5px;
}

.file-preview-frame {
    position: relative;
    display: table;
    margin: 8px;
    height: 160px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 5px 0 #a2958a;
    padding: 6px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.file-preview-frame:not(.file-preview-error):hover {
    box-shadow: 3px 3px 5px 0 #333;
}

.file-preview-image {
    vertical-align: middle;
    image-orientation: from-image;
}

.file-preview-text {
    display: block;
    color: #428bca;
    border: 1px solid #ddd;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    outline: none;
    padding: 8px;
    resize: none;
}

.file-preview-html {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: auto;
}

.file-zoom-dialog .file-preview-text {
    font-size: 1.2em;
}

.file-preview-other {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.file-preview-other:hover {
    opacity: 0.8;
}

.file-actions, .file-other-error {
    text-align: left;
}

.file-other-icon {
    font-size: 4.8em;
}

/* noinspection CssOverwrittenProperties */
.file-zoom-dialog .file-other-icon {
    font-size: 8em;
    font-size: 55vmin;
}

.file-input-new .file-preview, .file-input-new .close, .file-input-new .glyphicon-file,
.file-input-new .fileinput-remove-button, .file-input-new .fileinput-upload-button,
.file-input-ajax-new .fileinput-remove-button, .file-input-ajax-new .fileinput-upload-button {
    display: none;
}

.file-caption-main {
    width: 100%;
}

.file-input-ajax-new .no-browse .input-group-btn,
.file-input-new .no-browse .input-group-btn {
    display: none;
}

.file-input-ajax-new .no-browse .form-control,
.file-input-new .no-browse .form-control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.file-thumb-loading {
    background: transparent url('../img/loading.gif') no-repeat scroll center center content-box !important;
}

.file-actions {
    margin-top: 15px;
}

.file-footer-buttons {
    float: right;
}

.file-upload-indicator {
    display: inline;
    cursor: default;
    opacity: 0.8;
    width: 60%;
}

.file-upload-indicator:hover {
    font-weight: bold;
    opacity: 1;
}

.file-footer-caption {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
    text-align: center;
    padding-top: 4px;
    font-size: 11px;
    color: #777;
    margin: 5px auto;
}

.file-preview-error {
    opacity: 0.65;
    box-shadow: none;
}

.file-preview-frame:not(.file-preview-error) .file-footer-caption:hover {
    color: #000;
}

.file-drop-zone {
    border: 1px dashed #aaa;
    border-radius: 4px;
    max-height:195px;
    text-align: center;
    vertical-align: middle;
    margin: 12px 15px 12px 12px;
    padding: 5px;
}



.file-preview .clickable,
.clickable .file-drop-zone-title {
    cursor: pointer;
}

.file-drop-zone.clickable:hover {
    border: 2px dashed #999;
}

.file-drop-zone.clickable:focus {
    border: 2px solid #5acde2;
}

.file-drop-zone .file-preview-thumbnails {
    cursor: default;
}

.file-highlighted {
    border: 2px dashed #999 !important;
    background-color: #f0f0f0;
}

.file-uploading {
    background: url('../img/loading-sm.gif') no-repeat center bottom 10px;
    opacity: 0.65;
}

.file-thumb-progress {
    height: 10px;
}

.file-thumb-progress .progress, .file-thumb-progress .progress-bar {
    height: 10px;
    font-size: 9px;
    line-height: 10px;
}

.file-thumbnail-footer {
    position: relative;
}

.file-thumb-progress {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
}

.file-zoom-fullscreen.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.file-zoom-fullscreen .modal-dialog {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.file-zoom-fullscreen .modal-content {
    border-radius: 0;
    box-shadow: none;
}

.file-zoom-fullscreen .modal-body {
    overflow-y: auto;
}

.file-zoom-dialog .modal-body {
    position: relative !important;
}

.file-zoom-dialog .btn-navigate {
    position: absolute;
    padding: 0;
    margin: 0;
    background: transparent;
    text-decoration: none;
    outline: none;
    opacity: 0.7;
    top: 45%;
    font-size: 4em;
    color: #1c94c4;
}

.file-zoom-dialog .floating-buttons {
    position: absolute;
    top: 5px;
    right: 10px;
}

.floating-buttons, .floating-buttons .btn {
    z-index: 3000;
}

.file-zoom-dialog .kv-zoom-actions .btn,
.floating-buttons .btn {
    margin-left: 3px;
}

.file-zoom-dialog .btn-navigate:not([disabled]):hover,
.file-zoom-dialog .btn-navigate:not([disabled]):focus {
    outline: none;
    box-shadow: none;
    opacity: 0.5;
}

.file-zoom-dialog .btn-navigate[disabled] {
    opacity: 0.3;
}

.file-zoom-dialog .btn-prev {
    left: 1px;
}

.file-zoom-dialog .btn-next {
    right: 1px;
}

.file-drag-handle {
    display: inline;
    margin-right: 2px;
    font-size: 16px;
    cursor: move;
    cursor: -webkit-grabbing;
}

.file-drag-handle:hover {
    opacity: 0.7;
}

.file-zoom-content {
    height: 480px;
    text-align: center;
}

.file-preview-initial.sortable-chosen {
    background-color: #d9edf7;
}

.file-preview-frame.sortable-ghost {
    background-color: #eee;
}

/* IE 10 fix */
.btn-file ::-ms-browse {
    width: 100%;
    height: 100%;
}
.file-live-thumbs {
  display: inline-block;
  text-align: center;
}

