body{
  overflow-x:hidden;
}
ul {
  list-style: inside !important;
  padding-right: 0px;
}
ul.timeline {
  list-style: outside none none !important;
}
h4.panel-title a.accordion-toggle {
  margin-right: 15px;
}
.planning-header {
  background: #dfdfdf;
  padding: 20px 0;
}
.grid {
  background: #ededed;
  padding: 20px 0;
}
.grid h2 {
  font-size: 22px;
}
.grid p {
  font-size: 14px;
}
.planning-con {
  border: 2px solid #dfdfdf;
}
.lecturer {
  font-size: 18px;
}
.grey-bg {
  background: #f4f4f4;
  padding-top: 25px;
  padding-bottom: 25px;
}
.white-bg {
  background: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}
.intro {
  border-top: 1px solid #c0c0c0;
  line-height: 38px;
}
.intro h1 {
  margin-top: 0px;
}
.block {
  display: block;
}
.mirza {
	font-family: "Mirza",cursive;
}
.small-icon {
	font-size: 18px !important;
}
.right-text {
  text-align: right;
}
.m-auto {
  margin: 0px auto;
}
.m-b {
  margin-bottom: 50px;
}
.m-t {
  margin-top: 50px !important;
}
.f18 {
  font-size: 18px;
}
.grey-color {
  color: #355368;
}
.grey-dark {
  color: #1e2c35;
}
.yellow {
  color: #ffa500;
}
.border-grey {
  border: 2px solid #c0c0c0;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.custom-table {
  margin: 0 auto;
  max-width: 600px;
  background: #fff;
}
.bg-white {
  background: #fff;
  padding: 20px;
}
.grid h2{
  color: #ffa500;
}
.grid > .col-sm-6, .grid > .col-sm-12{
  margin-bottom: 50px;
}
.filming img{
  float: right;
  margin-bottom: 40px;
  margin-left: 40px;
}


.underline {
    text-decoration: underline;
}

.step {
    margin-top: 27px;
}


.width100 {
    width: 100%;
}
.mirza {
    font-family: "Mirza",cursive;
}
.yellow {
  color: #ffa500;
} 
.underline {
    text-decoration: underline;
}
    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #F58723;
    }

/*a {
    font-size: 25px;
      padding: 20px;
  }
*/
.panel-body {
    font-size: 20px;
  text-align:right;
}
.absolute {
  left: 0;
  position: absolute;
  right: 0;
  top: 120px;
}
.absolute h1 {
  font-size: 60px;
}


/***********
* rotateIn *
************/

@-webkit-keyframes rotateIn { 
    0% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(-200deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotateIn { 
    0% { 
        transform-origin: center center; 
        transform: rotate(-200deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: center center; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 
.rotateIn.go { 
    -webkit-animation-name: rotateIn; 
    animation-name: rotateIn; 
}

@media (max-width: 991px) {
.intro-img {
  width: 350px;
}
h1.yellow {
  font-size: 26px;
}
.absolute h1 {
  font-size: 40px;
}
.absolute {
  top: 50px;
}
}


@media (max-width: 767px) {
.m-m-b {
  margin-bottom: 25px;
}
}


@media (max-width:480px) {
.absolute {
  top: 40px;
}
.custom-table {
  font-size: 16px;
}
}